<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>


</head>
<body>
    <h1>
    </h1>

  {% block content %}
<div>
    <form method="GET" action="/quote">
        Search <input type="text" name="search">
        <input type="submit">
    </form>
</div>
      <div id="results-as-json">
        <h2>Results as JSON</h2>
        <pre>{{ pformat(news_data) }}</pre>
        <pre>{{ pformat(quote_data) }}</pre>
        <pre>{{ pformat(trend_data) }}</pre>
    </div>
   {% endblock %}
</body>
</html>
